# npm
registry=https://registry.npm.taobao.org/
cache=D:\SoftwareStore\node_cache
prefix=D:\SoftwareStore\node_global
# 
# pnpm start
store-dir=D:\SoftwareStore\pnpm_store
pnpm-prefix=D:\SoftwareStore\pnpm_prefix
global-dir=D:\SoftwareStore\pnpm_prefix
global-bin-dir=D:\SoftwareStore\node_global
cache-dir=D:\SoftwareStore\pnpm_cache
state-dir=D:\SoftwareStore\pnpm_state-dir
# pnpm end

# git
strict-peer-dependencies=false
auto-install-peers=true
